html, body {
    margin: 0;
    height: 100%;
    cursor: move;
    /*background-color: #ecf0f1;*/
    /*z-index: -2;*/
}

#circle {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
}
.default {
  background-color: #e74c3c;
  width: 40px;
  height: 40px;
}
.other {
  background-color: #3498db;
  width: 100px;
  height: 100px;
}
button {
  z-index: 4343;
}
