html, body {
    margin: 0;
    height: 100%;
}

#circle {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 100em;
}
.default {
  background-color: red;
  width: 40px;
  height: 40px;
}
.other {
  background-color: blue;
  width: 100px;
  height: 100px;
}
